#div1{
    width: 100%;
    padding: 10px;
    background-color: black;
}
img{
    position: relative;
    width: 650px;
    height: 350px;
    left:570px;
    top: -130px;
}
p{
    position: relative;
    left:10px;
}